USE [Inventario_para_Archivo2]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Area](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Auditoria_autorizante]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Auditoria_autorizante](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_autorizante] [int] NULL,
	[Dni] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Codigo_dependencia] [int] NULL,
	[Codigo_operacion] [int] NULL,
	[Codigo_usuario] [int] NULL,
	[Fecha_operacion] [datetime] NULL,
 CONSTRAINT [PK_Auditoria_autorizante] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Auditoria_expediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Auditoria_expediente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_expediente] [int] NULL,
	[Nro_expediente] [varchar](50) NULL,
	[Nro_gde_electronico] [varchar](50) NULL,
	[Codigo_estado] [int] NULL,
	[Codigo_area] [int] NULL,
	[Observaciones] [varchar](50) NULL,
	[Fecha_modificado] [datetime] NULL,
	[Codigo_operacion] [int] NULL,
	[Codigo_usuario] [int] NULL,
	[Fecha_operacion] [datetime] NULL,
 CONSTRAINT [PK_Auditoria_expediente] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Autorizante]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autorizante](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Codigo_dependencia] [int] NOT NULL,
 CONSTRAINT [PK_Autorizante] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_usuario] [int] NULL,
	[Nombre_usuario] [varchar](50) NULL,
	[TipoLog] [varchar](50) NULL,
	[Accion] [varchar](50) NULL,
	[Mensaje] [varchar](50) NULL,
	[Fecha_operacion] [datetime] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Caja]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caja](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Sala] [int] NULL,
	[Capacidad] [int] NULL,
	[Disponible] [float] NULL,
 CONSTRAINT [PK_Caja] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cuerpo]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuerpo](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nro_cuerpo] [int] NULL,
	[Fojas] [int] NULL,
	[Hojas] [int] NULL,
	[Codigo_estado] [int] NULL,
	[Codigo_expediente] [int] NULL,
	[Codigo_caja] [int] NULL,
	[Observaciones] [varchar](50) NULL,
 CONSTRAINT [PK_Cuerpo] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cuerpo_estado]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuerpo_estado](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_Cuerpo_estado] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dependencia]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dependencia](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Dependencia] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DVV](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[NombreTabla] [varchar](50) NULL,
	[ValorDigitoVV] [bigint] NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado_tipoRemito]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_tipoRemito](
	[Codigo_estado] [int] NOT NULL,
	[Tipo] [int] NOT NULL,
 CONSTRAINT [PK_Estado_tipoRemito] PRIMARY KEY CLUSTERED 
(
	[Codigo_estado] ASC,
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Id_etiqueta] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[Id_etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Expediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Expediente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nro_expediente] [varchar](50) NULL,
	[Nro_gde_electronico] [varchar](50) NULL,
	[Codigo_estado] [int] NULL,
	[Codigo_area] [int] NULL,
	[Observaciones] [varchar](50) NULL,
	[Fecha_modificado] [datetime] NULL,
 CONSTRAINT [PK_Expediente] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Expediente_estado]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Expediente_estado](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_Expediente_estado] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id_idioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Idioma_default] [bit] NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Intermediario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Intermediario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
 CONSTRAINT [PK_Intermediario] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permiso](
	[Nombre] [varchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Permiso] [varchar](50) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permiso_Permiso]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Permiso](
	[Id_Permiso_padre] [int] NOT NULL,
	[Id_Permiso_hijo] [int] NOT NULL,
 CONSTRAINT [PK_Permiso_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Permiso_padre] ASC,
	[Id_Permiso_hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Remito]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Remito](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nro_remito] [varchar](50) NULL,
	[Nota_gde] [varchar](50) NULL,
	[Codigo_autorizante] [int] NULL,
	[Codigo_intermediario] [int] NULL,
	[Codigo_estado] [int] NULL,
	[Codigo_area] [int] NULL,
	[Fecha] [datetime] NULL,
	[Observaciones] [varchar](50) NULL,
	[Tipo] [int] NULL,
 CONSTRAINT [PK_Remito] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Remito_estado]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Remito_estado](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_Remito_estado] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Remito_expedientes]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remito_expedientes](
	[Codigo_remito_expediente] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_remito] [int] NULL,
	[Codigo_expediente] [int] NULL,
 CONSTRAINT [PK_Remito_expedientes] PRIMARY KEY CLUSTERED 
(
	[Codigo_remito_expediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Remito_nros_comdoc]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Remito_nros_comdoc](
	[Codigo_remito_comdoc] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_remito] [int] NULL,
	[Nro_comdoc] [varchar](50) NULL,
 CONSTRAINT [PK_Remito_nros_comdoc] PRIMARY KEY CLUSTERED 
(
	[Codigo_remito_comdoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Id_idioma] [int] NOT NULL,
	[Id_etiqueta] [int] NOT NULL,
	[Traduccion] [varchar](50) NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[Id_idioma] ASC,
	[Id_etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Dni] [int] NULL,
	[Nombre_usuario] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Contrasenia] [varchar](50) NULL,
	[Id_idioma] [int] NULL CONSTRAINT [DF_Usuario_Id_idioma]  DEFAULT ((1)),
	[Activo] [bit] NULL,
	[Dvh] [bigint] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[Codigo_usuario] [int] NOT NULL,
	[Id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[Codigo_usuario] ASC,
	[Id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([Codigo], [Nombre]) VALUES (1, N'Gestión Económica')
INSERT [dbo].[Area] ([Codigo], [Nombre]) VALUES (2, N'CNRT')
INSERT [dbo].[Area] ([Codigo], [Nombre]) VALUES (4, N'Ministerio de interior de la nacon')
SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[Auditoria_autorizante] ON 

INSERT [dbo].[Auditoria_autorizante] ([Codigo], [Codigo_autorizante], [Dni], [Nombre], [Apellido], [Codigo_dependencia], [Codigo_operacion], [Codigo_usuario], [Fecha_operacion]) VALUES (1010, 9, 32318670, N'Micaela', N'Sánchez', 1003, 1, 1, CAST(N'2020-11-03 00:15:51.947' AS DateTime))
INSERT [dbo].[Auditoria_autorizante] ([Codigo], [Codigo_autorizante], [Dni], [Nombre], [Apellido], [Codigo_dependencia], [Codigo_operacion], [Codigo_usuario], [Fecha_operacion]) VALUES (1011, 9, 31222333, N'Micaela', N'Sánchez', 1003, 3, 1, CAST(N'2020-11-03 00:16:21.600' AS DateTime))
INSERT [dbo].[Auditoria_autorizante] ([Codigo], [Codigo_autorizante], [Dni], [Nombre], [Apellido], [Codigo_dependencia], [Codigo_operacion], [Codigo_usuario], [Fecha_operacion]) VALUES (1012, 9, 32318670, N'Micaela', N'Sánchez', 1003, 4, 1, CAST(N'2020-11-03 00:16:39.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Auditoria_autorizante] OFF
SET IDENTITY_INSERT [dbo].[Auditoria_expediente] ON 

INSERT [dbo].[Auditoria_expediente] ([Codigo], [Codigo_expediente], [Nro_expediente], [Nro_gde_electronico], [Codigo_estado], [Codigo_area], [Observaciones], [Fecha_modificado], [Codigo_operacion], [Codigo_usuario], [Fecha_operacion]) VALUES (1, 1, N'MEMO-S02:3333333/2020', N'EX-2019-55645678- -APN-DSDD#MTR', 4, 4, N'ingreso a revisar expediente', CAST(N'2020-01-10 15:26:13.350' AS DateTime), 1, 1, CAST(N'2020-01-10 15:26:13.427' AS DateTime))
INSERT [dbo].[Auditoria_expediente] ([Codigo], [Codigo_expediente], [Nro_expediente], [Nro_gde_electronico], [Codigo_estado], [Codigo_area], [Observaciones], [Fecha_modificado], [Codigo_operacion], [Codigo_usuario], [Fecha_operacion]) VALUES (2, 2, N'TRI-S02:9929388/2019', N'EX-2019-99887666- -APN-DSD#MTR', 4, 1, N'ingrso a revisar', CAST(N'2020-01-10 15:33:45.760' AS DateTime), 1, 1, CAST(N'2020-01-10 15:33:45.767' AS DateTime))
INSERT [dbo].[Auditoria_expediente] ([Codigo], [Codigo_expediente], [Nro_expediente], [Nro_gde_electronico], [Codigo_estado], [Codigo_area], [Observaciones], [Fecha_modificado], [Codigo_operacion], [Codigo_usuario], [Fecha_operacion]) VALUES (3, 3, N'ACTU-S02:3339998/2019', N'EX-2019-88877654- -APN-FDG#MTR', 1, 1, N'archivo figitalizado', CAST(N'2020-01-10 15:46:26.440' AS DateTime), 1, 1, CAST(N'2020-01-10 15:46:26.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Auditoria_expediente] OFF
SET IDENTITY_INSERT [dbo].[Autorizante] ON 

INSERT [dbo].[Autorizante] ([Codigo], [Dni], [Nombre], [Apellido], [Codigo_dependencia]) VALUES (1, 32318670, N'Laura', N'Mancuso', 2)
INSERT [dbo].[Autorizante] ([Codigo], [Dni], [Nombre], [Apellido], [Codigo_dependencia]) VALUES (2, 34332434, N'Sonia', N'Petrona', 2)
INSERT [dbo].[Autorizante] ([Codigo], [Dni], [Nombre], [Apellido], [Codigo_dependencia]) VALUES (3, 32318567, N'Pamela', N'San Pedro', 2)
SET IDENTITY_INSERT [dbo].[Autorizante] OFF
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Codigo], [Codigo_usuario], [Nombre_usuario], [TipoLog], [Accion], [Mensaje], [Fecha_operacion]) VALUES (1, 1, N'msanchez', N'Evento', N'Login', N'Logueo correcto', CAST(N'2020-01-10 13:43:36.513' AS DateTime))
INSERT [dbo].[Bitacora] ([Codigo], [Codigo_usuario], [Nombre_usuario], [TipoLog], [Accion], [Mensaje], [Fecha_operacion]) VALUES (2, 1, N'msanchez', N'Evento', N'Alta Documento', N'Alta Documento correcto', CAST(N'2020-01-10 15:26:13.430' AS DateTime))
INSERT [dbo].[Bitacora] ([Codigo], [Codigo_usuario], [Nombre_usuario], [TipoLog], [Accion], [Mensaje], [Fecha_operacion]) VALUES (3, 1, N'msanchez', N'Evento', N'Login', N'Logueo correcto', CAST(N'2020-01-10 15:30:51.657' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[Caja] ON 

INSERT [dbo].[Caja] ([Codigo], [Sala], [Capacidad], [Disponible]) VALUES (1, 2, 2000, 1754)
INSERT [dbo].[Caja] ([Codigo], [Sala], [Capacidad], [Disponible]) VALUES (2, 1, 2000, 1088)
INSERT [dbo].[Caja] ([Codigo], [Sala], [Capacidad], [Disponible]) VALUES (3, 3, 2000, 1993)
SET IDENTITY_INSERT [dbo].[Caja] OFF
SET IDENTITY_INSERT [dbo].[Cuerpo] ON 

INSERT [dbo].[Cuerpo] ([Codigo], [Nro_cuerpo], [Fojas], [Hojas], [Codigo_estado], [Codigo_expediente], [Codigo_caja], [Observaciones]) VALUES (1, 1, 2, 2, 2, 1, 1, N'cuerpo completo')
INSERT [dbo].[Cuerpo] ([Codigo], [Nro_cuerpo], [Fojas], [Hojas], [Codigo_estado], [Codigo_expediente], [Codigo_caja], [Observaciones]) VALUES (2, 2, 2, 2, 2, 1, 1, N'cuerpo completo')
INSERT [dbo].[Cuerpo] ([Codigo], [Nro_cuerpo], [Fojas], [Hojas], [Codigo_estado], [Codigo_expediente], [Codigo_caja], [Observaciones]) VALUES (3, 1, 22, 22, 1, 2, 1, N'faltaante')
SET IDENTITY_INSERT [dbo].[Cuerpo] OFF
SET IDENTITY_INSERT [dbo].[Cuerpo_estado] ON 

INSERT [dbo].[Cuerpo_estado] ([Codigo], [Estado]) VALUES (1, N'Faltante')
INSERT [dbo].[Cuerpo_estado] ([Codigo], [Estado]) VALUES (2, N'Completo')
SET IDENTITY_INSERT [dbo].[Cuerpo_estado] OFF
SET IDENTITY_INSERT [dbo].[Dependencia] ON 

INSERT [dbo].[Dependencia] ([Codigo], [Nombre]) VALUES (2, N'Ministerio de transporte')
INSERT [dbo].[Dependencia] ([Codigo], [Nombre]) VALUES (1002, N'Min de produccion')
INSERT [dbo].[Dependencia] ([Codigo], [Nombre]) VALUES (1003, N'hacienda')
SET IDENTITY_INSERT [dbo].[Dependencia] OFF
SET IDENTITY_INSERT [dbo].[DVV] ON 

INSERT [dbo].[DVV] ([Codigo], [NombreTabla], [ValorDigitoVV]) VALUES (1, N'Usuario', 28112)
SET IDENTITY_INSERT [dbo].[DVV] OFF
INSERT [dbo].[Estado_tipoRemito] ([Codigo_estado], [Tipo]) VALUES (1, 1)
INSERT [dbo].[Estado_tipoRemito] ([Codigo_estado], [Tipo]) VALUES (2, 1)
INSERT [dbo].[Estado_tipoRemito] ([Codigo_estado], [Tipo]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[Etiqueta] ON 

INSERT [dbo].[Etiqueta] ([Id_etiqueta], [Nombre]) VALUES (1, N'salir')
INSERT [dbo].[Etiqueta] ([Id_etiqueta], [Nombre]) VALUES (2, N'ingresar')
INSERT [dbo].[Etiqueta] ([Id_etiqueta], [Nombre]) VALUES (3, N'usuario')
SET IDENTITY_INSERT [dbo].[Etiqueta] OFF
SET IDENTITY_INSERT [dbo].[Expediente] ON 

INSERT [dbo].[Expediente] ([Codigo], [Nro_expediente], [Nro_gde_electronico], [Codigo_estado], [Codigo_area], [Observaciones], [Fecha_modificado]) VALUES (1, N'MEMO-S02:3333333/2020', N'EX-2019-55645678- -APN-DSDD#MTR', 4, 4, N'ingreso a revisar expediente', CAST(N'2020-01-10 15:26:13.350' AS DateTime))
INSERT [dbo].[Expediente] ([Codigo], [Nro_expediente], [Nro_gde_electronico], [Codigo_estado], [Codigo_area], [Observaciones], [Fecha_modificado]) VALUES (2, N'TRI-S02:9929388/2019', N'EX-2019-99887666- -APN-DSD#MTR', 3, 1, N'ingrso a revisar', CAST(N'2020-01-10 16:04:30.073' AS DateTime))
INSERT [dbo].[Expediente] ([Codigo], [Nro_expediente], [Nro_gde_electronico], [Codigo_estado], [Codigo_area], [Observaciones], [Fecha_modificado]) VALUES (3, N'ACTU-S02:3339998/2019', N'EX-2019-88877654- -APN-FDG#MTR', 3, 1, N'archivo figitalizado', CAST(N'2020-01-10 16:04:41.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[Expediente] OFF
SET IDENTITY_INSERT [dbo].[Expediente_estado] ON 

INSERT [dbo].[Expediente_estado] ([Codigo], [Estado]) VALUES (1, N'Digitalizado')
INSERT [dbo].[Expediente_estado] ([Codigo], [Estado]) VALUES (2, N'NoDigitalizado')
INSERT [dbo].[Expediente_estado] ([Codigo], [Estado]) VALUES (3, N'Desarchivado')
SET IDENTITY_INSERT [dbo].[Expediente_estado] OFF
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Id_idioma], [Nombre], [Idioma_default]) VALUES (1, N'Español', 1)
INSERT [dbo].[Idioma] ([Id_idioma], [Nombre], [Idioma_default]) VALUES (2, N'English', 0)
INSERT [dbo].[Idioma] ([Id_idioma], [Nombre], [Idioma_default]) VALUES (4, N'Ruso', 0)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
SET IDENTITY_INSERT [dbo].[Intermediario] ON 

INSERT [dbo].[Intermediario] ([Codigo], [Dni], [Nombre], [Apellido]) VALUES (1, 3232233, N'Jose', N'Lopez')
INSERT [dbo].[Intermediario] ([Codigo], [Dni], [Nombre], [Apellido]) VALUES (2, 3233221, N'Carlos ', N'Payares')
SET IDENTITY_INSERT [dbo].[Intermediario] OFF
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Nombre], [Id], [Permiso]) VALUES (N'Puede gestionar perfiles', 1, N'ConfiguracionPerfiles')
INSERT [dbo].[Permiso] ([Nombre], [Id], [Permiso]) VALUES (N'Puede Administrar Ingreso y Egreso Masivo', 2, N'AdminIngreso_EgresoMasivo')
INSERT [dbo].[Permiso] ([Nombre], [Id], [Permiso]) VALUES (N'Puede Administrar Servicios ', 3, N'AdminDeServicios')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
INSERT [dbo].[Permiso_Permiso] ([Id_Permiso_padre], [Id_Permiso_hijo]) VALUES (7, 1)
INSERT [dbo].[Permiso_Permiso] ([Id_Permiso_padre], [Id_Permiso_hijo]) VALUES (7, 2)
INSERT [dbo].[Permiso_Permiso] ([Id_Permiso_padre], [Id_Permiso_hijo]) VALUES (7, 3)
SET IDENTITY_INSERT [dbo].[Remito] ON 

INSERT [dbo].[Remito] ([Codigo], [Nro_remito], [Nota_gde], [Codigo_autorizante], [Codigo_intermediario], [Codigo_estado], [Codigo_area], [Fecha], [Observaciones], [Tipo]) VALUES (1, N'S02: 0000001/2020', N'NO-2019-33333333-APM-FDFF#MTR', 3, 1, 2, 1, CAST(N'2020-01-10 14:27:42.000' AS DateTime), N'se kngresa a revisar los siguientes comdoc', 1)
INSERT [dbo].[Remito] ([Codigo], [Nro_remito], [Nota_gde], [Codigo_autorizante], [Codigo_intermediario], [Codigo_estado], [Codigo_area], [Fecha], [Observaciones], [Tipo]) VALUES (2, N'S02: 0000002/2020', N'NO-2020-66655555-APN-HGFG#MTR', 3, 1, 2, 1, CAST(N'2020-01-10 16:04:13.483' AS DateTime), N'egreso de exp', 2)
INSERT [dbo].[Remito] ([Codigo], [Nro_remito], [Nota_gde], [Codigo_autorizante], [Codigo_intermediario], [Codigo_estado], [Codigo_area], [Fecha], [Observaciones], [Tipo]) VALUES (3, N'S02:0000003/2020', N'NO-2019-33333333-APM-FDFF#MTR', 3, 1, 4, 1, CAST(N'2020-01-10 16:10:11.000' AS DateTime), N'Se devuelve porque esta incorrecto y tiene faltant', 3)
SET IDENTITY_INSERT [dbo].[Remito] OFF
SET IDENTITY_INSERT [dbo].[Remito_estado] ON 

INSERT [dbo].[Remito_estado] ([Codigo], [Estado]) VALUES (1, N'ARevisar')
INSERT [dbo].[Remito_estado] ([Codigo], [Estado]) VALUES (2, N'Aceptado')
INSERT [dbo].[Remito_estado] ([Codigo], [Estado]) VALUES (3, N'Rechazado')
SET IDENTITY_INSERT [dbo].[Remito_estado] OFF
SET IDENTITY_INSERT [dbo].[Remito_expedientes] ON 

INSERT [dbo].[Remito_expedientes] ([Codigo_remito_expediente], [Codigo_remito], [Codigo_expediente]) VALUES (1, 2, 2)
INSERT [dbo].[Remito_expedientes] ([Codigo_remito_expediente], [Codigo_remito], [Codigo_expediente]) VALUES (2, 2, 3)
INSERT [dbo].[Remito_expedientes] ([Codigo_remito_expediente], [Codigo_remito], [Codigo_expediente]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[Remito_expedientes] OFF
SET IDENTITY_INSERT [dbo].[Remito_nros_comdoc] ON 

INSERT [dbo].[Remito_nros_comdoc] ([Codigo_remito_comdoc], [Codigo_remito], [Nro_comdoc]) VALUES (1, 1, N'RTO-S02:3333222/2020')
INSERT [dbo].[Remito_nros_comdoc] ([Codigo_remito_comdoc], [Codigo_remito], [Nro_comdoc]) VALUES (2, 1, N'RTO-S02:1111111/2020')
INSERT [dbo].[Remito_nros_comdoc] ([Codigo_remito_comdoc], [Codigo_remito], [Nro_comdoc]) VALUES (3, 1006, N'RTO-S02:2322221/2020')
SET IDENTITY_INSERT [dbo].[Remito_nros_comdoc] OFF
INSERT [dbo].[Traduccion] ([Id_idioma], [Id_etiqueta], [Traduccion]) VALUES (1, 1, N'Salir')
INSERT [dbo].[Traduccion] ([Id_idioma], [Id_etiqueta], [Traduccion]) VALUES (1, 2, N'Ingresar')
INSERT [dbo].[Traduccion] ([Id_idioma], [Id_etiqueta], [Traduccion]) VALUES (1, 3, N'Usuario')
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Codigo], [Nombre], [Apellido], [Dni], [Nombre_usuario], [Email], [Contrasenia], [Id_idioma], [Activo], [Dvh]) VALUES (1, N'Micaerla', N'Sánchez', 32318670, N'msanchez', N'msanchez@gmail.com', N'2EOAG8NbGRU=', 1, 1, 2458)
INSERT [dbo].[Usuario] ([Codigo], [Nombre], [Apellido], [Dni], [Nombre_usuario], [Email], [Contrasenia], [Id_idioma], [Activo], [Dvh]) VALUES (2, N'Lorena', N'Acosta', 43333333, N'lacosta', N'lacosta', N'2EOAG8NbGRU=', 1, 1, 2285)
INSERT [dbo].[Usuario] ([Codigo], [Nombre], [Apellido], [Dni], [Nombre_usuario], [Email], [Contrasenia], [Id_idioma], [Activo], [Dvh]) VALUES (3, N'Marcos', N'Suarez', 323333, N'msuarez', N'msuarez@gmail.com', N'2EOAG8NbGRU=', 1, 1, 2277)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
INSERT [dbo].[Usuario_Permiso] ([Codigo_usuario], [Id_permiso]) VALUES (1, 7)
INSERT [dbo].[Usuario_Permiso] ([Codigo_usuario], [Id_permiso]) VALUES (1, 1012)
INSERT [dbo].[Usuario_Permiso] ([Codigo_usuario], [Id_permiso]) VALUES (2, 8)
ALTER TABLE [dbo].[Auditoria_autorizante]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_autorizante_Autorizante] FOREIGN KEY([Codigo_autorizante])
REFERENCES [dbo].[Autorizante] ([Codigo])
GO
ALTER TABLE [dbo].[Auditoria_autorizante] CHECK CONSTRAINT [FK_Auditoria_autorizante_Autorizante]
GO
ALTER TABLE [dbo].[Auditoria_autorizante]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_autorizante_Dependencia] FOREIGN KEY([Codigo_dependencia])
REFERENCES [dbo].[Dependencia] ([Codigo])
GO
ALTER TABLE [dbo].[Auditoria_autorizante] CHECK CONSTRAINT [FK_Auditoria_autorizante_Dependencia]
GO
ALTER TABLE [dbo].[Auditoria_autorizante]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_autorizante_Usuario] FOREIGN KEY([Codigo_usuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Auditoria_autorizante] CHECK CONSTRAINT [FK_Auditoria_autorizante_Usuario]
GO
ALTER TABLE [dbo].[Auditoria_expediente]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_expediente_Area] FOREIGN KEY([Codigo_area])
REFERENCES [dbo].[Area] ([Codigo])
GO
ALTER TABLE [dbo].[Auditoria_expediente] CHECK CONSTRAINT [FK_Auditoria_expediente_Area]
GO
ALTER TABLE [dbo].[Auditoria_expediente]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_expediente_Expediente] FOREIGN KEY([Codigo_expediente])
REFERENCES [dbo].[Expediente] ([Codigo])
GO
ALTER TABLE [dbo].[Auditoria_expediente] CHECK CONSTRAINT [FK_Auditoria_expediente_Expediente]
GO
ALTER TABLE [dbo].[Auditoria_expediente]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_expediente_Expediente_estado] FOREIGN KEY([Codigo_estado])
REFERENCES [dbo].[Expediente_estado] ([Codigo])
GO
ALTER TABLE [dbo].[Auditoria_expediente] CHECK CONSTRAINT [FK_Auditoria_expediente_Expediente_estado]
GO
ALTER TABLE [dbo].[Auditoria_expediente]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_expediente_Usuario] FOREIGN KEY([Codigo_usuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Auditoria_expediente] CHECK CONSTRAINT [FK_Auditoria_expediente_Usuario]
GO
ALTER TABLE [dbo].[Autorizante]  WITH CHECK ADD  CONSTRAINT [FK_Autorizante_Dependencia] FOREIGN KEY([Codigo_dependencia])
REFERENCES [dbo].[Dependencia] ([Codigo])
GO
ALTER TABLE [dbo].[Autorizante] CHECK CONSTRAINT [FK_Autorizante_Dependencia]
GO
ALTER TABLE [dbo].[Cuerpo]  WITH CHECK ADD  CONSTRAINT [FK_Cuerpo_Caja] FOREIGN KEY([Codigo_caja])
REFERENCES [dbo].[Caja] ([Codigo])
GO
ALTER TABLE [dbo].[Cuerpo] CHECK CONSTRAINT [FK_Cuerpo_Caja]
GO
ALTER TABLE [dbo].[Cuerpo]  WITH CHECK ADD  CONSTRAINT [FK_Cuerpo_Cuerpo_estado] FOREIGN KEY([Codigo_estado])
REFERENCES [dbo].[Cuerpo_estado] ([Codigo])
GO
ALTER TABLE [dbo].[Cuerpo] CHECK CONSTRAINT [FK_Cuerpo_Cuerpo_estado]
GO
ALTER TABLE [dbo].[Cuerpo]  WITH CHECK ADD  CONSTRAINT [FK_Cuerpo_Expediente] FOREIGN KEY([Codigo_expediente])
REFERENCES [dbo].[Expediente] ([Codigo])
GO
ALTER TABLE [dbo].[Cuerpo] CHECK CONSTRAINT [FK_Cuerpo_Expediente]
GO
ALTER TABLE [dbo].[Estado_tipoRemito]  WITH CHECK ADD  CONSTRAINT [FK_Estado_tipoRemito_Remito_estado] FOREIGN KEY([Codigo_estado])
REFERENCES [dbo].[Remito_estado] ([Codigo])
GO
ALTER TABLE [dbo].[Estado_tipoRemito] CHECK CONSTRAINT [FK_Estado_tipoRemito_Remito_estado]
GO
ALTER TABLE [dbo].[Expediente]  WITH CHECK ADD  CONSTRAINT [FK_Expediente_Area] FOREIGN KEY([Codigo_area])
REFERENCES [dbo].[Area] ([Codigo])
GO
ALTER TABLE [dbo].[Expediente] CHECK CONSTRAINT [FK_Expediente_Area]
GO
ALTER TABLE [dbo].[Expediente]  WITH CHECK ADD  CONSTRAINT [FK_Expediente_Expediente_estado] FOREIGN KEY([Codigo_estado])
REFERENCES [dbo].[Expediente_estado] ([Codigo])
GO
ALTER TABLE [dbo].[Expediente] CHECK CONSTRAINT [FK_Expediente_Expediente_estado]
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Permiso_Permiso] FOREIGN KEY([Id_Permiso_padre])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [FK_Permiso_Permiso_Permiso]
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Permiso_Permiso1] FOREIGN KEY([Id_Permiso_hijo])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [FK_Permiso_Permiso_Permiso1]
GO
ALTER TABLE [dbo].[Remito]  WITH CHECK ADD  CONSTRAINT [FK_Remito_Area] FOREIGN KEY([Codigo_area])
REFERENCES [dbo].[Area] ([Codigo])
GO
ALTER TABLE [dbo].[Remito] CHECK CONSTRAINT [FK_Remito_Area]
GO
ALTER TABLE [dbo].[Remito]  WITH CHECK ADD  CONSTRAINT [FK_Remito_Autorizante] FOREIGN KEY([Codigo_autorizante])
REFERENCES [dbo].[Autorizante] ([Codigo])
GO
ALTER TABLE [dbo].[Remito] CHECK CONSTRAINT [FK_Remito_Autorizante]
GO
ALTER TABLE [dbo].[Remito]  WITH CHECK ADD  CONSTRAINT [FK_Remito_Intermediario] FOREIGN KEY([Codigo_intermediario])
REFERENCES [dbo].[Intermediario] ([Codigo])
GO
ALTER TABLE [dbo].[Remito] CHECK CONSTRAINT [FK_Remito_Intermediario]
GO
ALTER TABLE [dbo].[Remito]  WITH CHECK ADD  CONSTRAINT [FK_Remito_Remito_estado] FOREIGN KEY([Codigo_estado])
REFERENCES [dbo].[Remito_estado] ([Codigo])
GO
ALTER TABLE [dbo].[Remito] CHECK CONSTRAINT [FK_Remito_Remito_estado]
GO
ALTER TABLE [dbo].[Remito_expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Remito_expedientes_Expediente1] FOREIGN KEY([Codigo_expediente])
REFERENCES [dbo].[Expediente] ([Codigo])
GO
ALTER TABLE [dbo].[Remito_expedientes] CHECK CONSTRAINT [FK_Remito_expedientes_Expediente1]
GO
ALTER TABLE [dbo].[Remito_expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Remito_expedientes_Remito] FOREIGN KEY([Codigo_remito])
REFERENCES [dbo].[Remito] ([Codigo])
GO
ALTER TABLE [dbo].[Remito_expedientes] CHECK CONSTRAINT [FK_Remito_expedientes_Remito]
GO
ALTER TABLE [dbo].[Remito_nros_comdoc]  WITH CHECK ADD  CONSTRAINT [FK_Remito_nros_comdoc_Remito] FOREIGN KEY([Codigo_remito])
REFERENCES [dbo].[Remito] ([Codigo])
GO
ALTER TABLE [dbo].[Remito_nros_comdoc] CHECK CONSTRAINT [FK_Remito_nros_comdoc_Remito]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Etiqueta] FOREIGN KEY([Id_etiqueta])
REFERENCES [dbo].[Etiqueta] ([Id_etiqueta])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Etiqueta]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([Id_idioma])
REFERENCES [dbo].[Idioma] ([Id_idioma])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([Id_idioma])
REFERENCES [dbo].[Idioma] ([Id_idioma])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Permiso_Permiso] FOREIGN KEY([Id_permiso])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_Usuario_Permiso_Permiso]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Permiso_Usuario] FOREIGN KEY([Codigo_usuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_Usuario_Permiso_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[DVActualizarDVH]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVActualizarDVH]
(
@NombreTabla varchar(50),
@Codigo int,
@ValorAcum bigint,
@NomColumna varchar(50)
)

AS
BEGIN

DECLARE @SQL NVARCHAR(max),@Nom VARCHAR(128), @IdF int, @Val bigint, @Col varchar(50)

SET @SQL=
REPLACE(REPLACE(REPLACE(REPLACE(
'UPDATE [@Nom] SET Dvh = @Val WHERE [@Col] = @IdF','@Nom',@NombreTabla),
'@Val',@ValorAcum),'@Col',@NomColumna),'@IdF',@Codigo)	
        EXECUTE(@SQL)

END

GO
/****** Object:  StoredProcedure [dbo].[DVActualizarDVV]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVActualizarDVV]
(
	@NombreTabla varchar(30),
	@ValorDVV nvarchar(300)
)


AS
BEGIN

UPDATE DVV 
SET ValorDigitoVV = @ValorDVV
WHERE NombreTabla = @NombreTabla


END

GO
/****** Object:  StoredProcedure [dbo].[DVCalcularDVV]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVCalcularDVV]
(
	@NombreTabla varchar(30)
)


AS
BEGIN
DECLARE @SQL NVARCHAR(max), @Nom VARCHAR(30)

SET @SQL=
REPLACE(
'SELECT SUM(Dvh) as Dvh FROM @Nom','@Nom',@NombreTabla)
        EXECUTE(@SQL)

END


GO
/****** Object:  StoredProcedure [dbo].[DVInsertarDVV]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVInsertarDVV]
(
	@NombreTabla varchar(30),
	@ValorDVV nvarchar(300)
)


AS
BEGIN

-- insert into DVV (NombreTabla,ValorDigitoVV) values(@NombreTabla,@ValorDVV)
IF EXISTS (SELECT NombreTabla=@NombreTabla FROM DVV)	
	UPDATE DVV SET ValorDigitoVV=@ValorDVV
	WHERE NombreTabla = @NombreTabla

ELSE INSERT into DVV(NombreTabla,ValorDigitoVV) values(@NombreTabla,@ValorDVV)

END


GO
/****** Object:  StoredProcedure [dbo].[DVTraerDVHSuma]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVTraerDVHSuma]
(
	@NombreTabla varchar(30)
)


AS
BEGIN
DECLARE @SQL NVARCHAR(max), @Nom VARCHAR(30)

SET @SQL=
REPLACE(
'SELECT [Dvh] FROM [@Nom]','@Nom',@NombreTabla)
        EXECUTE(@SQL)

END

GO
/****** Object:  StoredProcedure [dbo].[DVTraerDVV]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DVTraerDVV]
(
	@NombreTabla varchar(30)
)


AS
BEGIN
DECLARE @SQL NVARCHAR(max), @Nom VARCHAR(30)

/*SET @SQL=
REPLACE(
'SELECT ValorDigitoVV FROM DVV where NombreTabla = [@Nom]','@Nom',@NombreTabla)
        EXECUTE(@SQL)
*/	

SELECT ValorDigitoVV FROM DVV where NombreTabla = @NombreTabla

END


GO
/****** Object:  StoredProcedure [dbo].[ListarTodosAutorizantes]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarTodosAutorizantes]
as
begin
select Autorizante.Codigo,Dni,Autorizante.Nombre,Apellido,Autorizante.Codigo_dependencia,Dependencia.Nombre as Dependencia
from Autorizante
inner join Dependencia on
Dependencia.Codigo = Autorizante.Codigo_dependencia
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarDisponibleCaja]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_ActualizarDisponibleCaja]
@Codigo int,
@Disponible float
as
begin
update Caja set Disponible = @Disponible 
where Codigo = @Codigo

end

GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarRemitoAsociado]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ActualizarRemitoAsociado]
@Codigo_remito int,
@Codigo_expediente int
as 
begin
update Remito_expedientes set Codigo_remito= @Codigo_remito 
where Codigo_expediente = @Codigo_expediente
end


GO
/****** Object:  StoredProcedure [dbo].[sp_AltaArea]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AltaArea]
@Nombre varchar (50)
as
BEGIN
	Insert into Area
	(Nombre) 
	values 
	(@Nombre)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaAutorizante]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AltaAutorizante]
@Nombre varchar (50),
@Apellido varchar (50),
@Dni int,
@Codigo_dependencia varchar(50)
as
BEGIN
	Insert into Autorizante
	(Nombre,Apellido,Dni,Codigo_dependencia) 
	values(@Nombre, @Apellido, @Dni,@Codigo_dependencia)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_altaBitacora]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_altaBitacora]
@Codigo_usuario int,
@Nombre_usuario varchar(50),
@TipoLog varchar(50),
@Accion varchar(50),
@Mensaje nvarchar(1000),
@Fecha_operacion datetime
AS
BEGIN
	INSERT INTO Bitacora(Codigo_usuario, Nombre_usuario, TipoLog, Accion,Mensaje,Fecha_operacion) 
	values (@Codigo_usuario, @Nombre_usuario, @TipoLog, @Accion, @Mensaje,@Fecha_operacion)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaCuerpo]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AltaCuerpo]
@Nro_cuerpo int,
@Fojas int,
@Hojas int,
@Codigo_estado int,
@Codigo_expediente int,
@Codigo_caja int,
@Observaciones varchar(50)
as 
begin
insert into Cuerpo (Nro_cuerpo, Fojas, Hojas, Codigo_estado, Codigo_expediente, Codigo_caja, Observaciones)
values(@Nro_cuerpo,@Fojas,@Hojas,@Codigo_estado,@Codigo_expediente,@Codigo_caja,@Observaciones)

end

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaDependencia]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_AltaDependencia]
@Nombre varchar (50)
as
BEGIN
	Insert into Dependencia
	(Nombre) 
	values 
	(@Nombre)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaEtiqueta]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AltaEtiqueta]
@Nombre varchar (50)
as
BEGIN
	Insert into Etiqueta
	(Nombre) 
	values 
	(@Nombre)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaExpediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AltaExpediente]
@Nro_expediente varchar(50),
@Nro_gde_electronico varchar(50),
@Codigo_estado int,
@Codigo_area int,
@Observaciones varchar(50),
@Fecha_modificado datetime
as 
begin
insert into Expediente (Nro_expediente,Nro_gde_electronico,Codigo_estado,Codigo_area,Observaciones,Fecha_modificado)
values(@Nro_expediente, @Nro_gde_electronico, @Codigo_estado,@Codigo_area, @Observaciones,@Fecha_modificado);
SELECT Codigo FROM Expediente WHERE Codigo = @@Identity;
end


GO
/****** Object:  StoredProcedure [dbo].[sp_AltaIdioma]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AltaIdioma]
@Nombre varchar (50),
@Idioma_default bit
as
BEGIN
	Insert into Idioma
	(Nombre, Idioma_default) 
	values 
	(@Nombre, @Idioma_default)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaRemito]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AltaRemito]
 @Nro_remito varchar (50),
 @Nota_gde varchar(50),
 @Codigo_autorizante int,
 @Codigo_intermediario int,
 @Codigo_estado int,
 @Codigo_area int,
 @Fecha Datetime,
 @Observaciones varchar(50),
 @Tipo int
as
BEGIN
	Insert into Remito (Nro_remito,Nota_gde,Codigo_Autorizante,Codigo_intermediario,Codigo_estado,Codigo_area,Fecha,Observaciones, Tipo) 
	values 
	(@Nro_remito, @Nota_gde, @Codigo_autorizante,@Codigo_intermediario,@Codigo_estado,@Codigo_area, @Fecha,@Observaciones, @Tipo);

	SELECT Codigo FROM Remito WHERE Codigo = @@Identity;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaTraduccion]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AltaTraduccion]
@Id_etiqueta int,
@Id_idioma int,
@Texto varchar(100)
as
BEGIN
	Insert into Traduccion
	(Id_etiqueta, Id_idioma,Traduccion) 
	values 
	(@Id_etiqueta, @Id_idioma, @Texto)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AltaUsuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AltaUsuario]
@Nombre varchar (50),
@Apellido varchar(50),
@Dni int,
@Nombre_usuario varchar(50),
@Email varchar(50),
@Contrasenia varchar(50),
@Id_idioma int
as
BEGIN
	Insert into Usuario
	(Nombre,Apellido, Dni, Nombre_usuario,Email, Contrasenia, Id_idioma, Activo) 
	values 
	(@Nombre,@Apellido,@Dni,@Nombre_usuario,@Email,@Contrasenia, @Id_idioma,'true')
	SELECT Codigo FROM Usuario WHERE Codigo = @@Identity;
end       


GO
/****** Object:  StoredProcedure [dbo].[sp_AuditarAutorizante]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AuditarAutorizante]
@Codigo_autorizante int, 
@Dni int,
@Nombre varchar(50),
@Apellido varchar(50),
@Codigo_dependencia int,
@Codigo_operacion int,
@Codigo_usuario int
as
BEGIN
	Insert into Auditoria_autorizante(Codigo_autorizante,Dni,Nombre,Apellido,Codigo_dependencia,Codigo_operacion,Codigo_usuario,Fecha_operacion)
	 values(@Codigo_autorizante,@Dni,@Nombre,@Apellido,@Codigo_dependencia,@Codigo_operacion,@Codigo_usuario,SYSDATETIME())
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AuditarExp]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_AuditarExp]
@Codigo_expediente int, 
@Nro_expediente varchar(50),
@Nro_gde_electronico varchar(50),
@Codigo_estado int,
@Codigo_area int,
@Observaciones varchar(50),
@Fecha_modificado datetime,
@Codigo_operacion int,
@Codigo_usuario varchar(50)
as
BEGIN
	Insert into Auditoria_expediente(Codigo_expediente,Nro_expediente,Nro_gde_electronico,Codigo_estado,Codigo_area,Observaciones,Fecha_modificado,Codigo_operacion,Codigo_usuario,Fecha_operacion)
	 values(@Codigo_expediente,@Nro_expediente,@Nro_gde_electronico,@Codigo_estado,@Codigo_area,@Observaciones,@Fecha_modificado,@Codigo_operacion,@Codigo_usuario,SYSDATETIME())
end



GO
/****** Object:  StoredProcedure [dbo].[sp_BajaArea]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BajaArea]
 @Codigo int
AS
BEGIN

	DELETE	Area
	WHERE	Codigo = @Codigo
END


GO
/****** Object:  StoredProcedure [dbo].[sp_BajaDependencia]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BajaDependencia]
 @Codigo int
AS
BEGIN

	DELETE	Dependencia
	WHERE	Codigo = @Codigo
END


GO
/****** Object:  StoredProcedure [dbo].[sp_BajaEtiqueta]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BajaEtiqueta]
 @Id_etiqueta int
AS
BEGIN

	DELETE	Etiqueta
	WHERE	Id_etiqueta = @Id_etiqueta
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BajaIdioma]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BajaIdioma]
 @Id_idioma int
AS
BEGIN

	DELETE	Idioma
	WHERE	Id_idioma = @Id_idioma
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BajaTraduccion]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BajaTraduccion]
 @Id_idioma int,
 @Id_etiqueta int
AS
BEGIN

	DELETE	Traduccion
	WHERE	Id_etiqueta = @Id_etiqueta AND Id_idioma = @Id_idioma
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BajaUsuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BajaUsuario]
@Codigo int
as
begin
update Usuario set Activo = 'false'
where Codigo = @Codigo
end

GO
/****** Object:  StoredProcedure [dbo].[sp_BaseDatosRespaldar]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaseDatosRespaldar]
	(@Nombre varchar(50),
	@Destino varchar(300)
)


AS
BEGIN

BACKUP DATABASE Inventario_para_Archivo2 TO DISK = @Destino WITH NAME = @Nombre

END


GO
/****** Object:  StoredProcedure [dbo].[sp_BitacoraListar]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BitacoraListar]
as
begin
select * from Bitacora
left join Usuario on
Bitacora.Codigo_usuario = Usuario.Codigo
end

GO
/****** Object:  StoredProcedure [dbo].[sp_BitacoraVerLogs]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BitacoraVerLogs]
@TipoLog varchar(50),
@FechaInicio datetime,
@FechaFin datetime
as
begin
select * from Bitacora where TipoLog=@TipoLog AND
Fecha_operacion between @FechaInicio and @FechaFin
end

GO
/****** Object:  StoredProcedure [dbo].[sp_borrarPadre]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_borrarPadre]
@Id int
as
Begin
delete from Permiso_Permiso where Id_Permiso_padre=@Id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_borrarPermisoUsuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_borrarPermisoUsuario]
@Codigo_usuario int
as
begin
delete from Usuario_Permiso where Codigo_usuario=@Codigo_usuario
end

GO
/****** Object:  StoredProcedure [dbo].[sp_buscarEstadoPorCodigo]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_buscarEstadoPorCodigo]
@CodigoEstado int
as 
begin
select Estado from Remito_estado
where Codigo = @CodigoEstado
end

GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarIdiomaPorId]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BuscarIdiomaPorId]
@Id int
AS
BEGIN
	
	select Id_idioma, Nombre
	from Idioma
	where Id_idioma = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarRtoComdoc]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BuscarRtoComdoc]
@RtoComdoc varchar(50)
as
BEGIN
	select Nro_comdoc from Remito_nros_comdoc
	where Nro_comdoc = @RtoComdoc
end

GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarUltimoRemito]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_BuscarUltimoRemito]
AS
BEGIN
	
	select TOP 1 Codigo
	from Remito
	order by Codigo desc
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarUsuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BuscarUsuario]
@Nombre_usuario varchar(50),
@Contrasenia varchar(50)
AS
BEGIN
	
	select Codigo, Usuario.Nombre, Apellido, Dni, Nombre_usuario, Email, Contrasenia, Idioma.Id_idioma, Idioma.Nombre as Nombre_idioma, Activo
	from Usuario
	inner join Idioma on Usuario.Id_idioma = Idioma.Id_idioma
	where Nombre_usuario = @Nombre_usuario AND Contrasenia = @Contrasenia
END


GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarUsuarioPorNombre]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BuscarUsuarioPorNombre]
@Nombre_usuario varchar(50)
AS
BEGIN
	
	select Codigo, Usuario.Nombre, Apellido, Dni, Nombre_usuario, Email, Contrasenia,Idioma.Id_idioma, Idioma.Nombre as Nombre_idioma, Activo
	from Usuario
	inner join Idioma on Usuario.id_idioma = Idioma.id_idioma
	where Nombre_usuario = @Nombre_usuario
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstadoExpediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_CambiarEstadoExpediente]
@Codigo int,
@Codigo_estado int
as
BEGIN
	update Expediente set Codigo_estado = @Codigo_estado, Fecha_modificado = SYSDATETIME()
	where Codigo = @Codigo
end


GO
/****** Object:  StoredProcedure [dbo].[sp_CargarNrosComdoc]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_CargarNrosComdoc]
@Codigo_remito int,
@Nro_comdoc varchar (50)
as
BEGIN
	Insert into Remito_nros_comdoc(Codigo_remito,Nro_comdoc) 
	values 
	(@Codigo_remito, @Nro_comdoc)
end


GO
/****** Object:  StoredProcedure [dbo].[sp_CargarRemitoExpedientes]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_CargarRemitoExpedientes]
@Codigo_remito int,
@Codigo_expediente varchar (50)
as
BEGIN
	Insert into Remito_expedientes(Codigo_remito,Codigo_expediente) 
	values 
	(@Codigo_remito, @Codigo_expediente)
end


GO
/****** Object:  StoredProcedure [dbo].[sp_CodigoCajaSala2]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_CodigoCajaSala2]
as
begin
select Codigo From Caja
where Sala = 2
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ExpedienteVerReporte]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ExpedienteVerReporte]
-- @Nro_expediente varchar(50),
--@CodEstado int,
--@CodArea int,
--@CodUsuario int,
--@FechaInicio datetime,
--@FechaFin datetime
as
begin
select Auditoria_expediente.Codigo, Expediente.Codigo as Codigo_expediente,Expediente.Nro_expediente, Expediente.Nro_gde_electronico,
Expediente.Fecha_modificado, Expediente_estado.Codigo as Codigo_estado, Expediente_estado.Estado, Expediente.Observaciones,
area.Codigo as Codigo_area, Area.Nombre as Nombre_area, Usuario.Codigo as Codigo_usuario, Usuario.Nombre_usuario,
Auditoria_expediente.Codigo_operacion, Auditoria_expediente.Fecha_operacion

from Expediente
left join Auditoria_expediente  on
Auditoria_expediente.Codigo_expediente = Expediente.Codigo
inner join Area on
Area.Codigo = Auditoria_expediente.Codigo_area
inner join Expediente_estado on
Expediente_estado.Codigo = Auditoria_expediente.Codigo_estado
inner join Usuario on
Usuario.Codigo = Auditoria_expediente.Codigo_usuario

-- where Expediente.Nro_expediente = @Nro_expediente
-- and Expediente.Fecha_modificado between @FechaInicio and @FechaFin
-- and Expediente.Codigo_estado = @CodEstado 
-- and Expediente.Codigo_area = @CodArea 
-- and Usuario.Codigo=@CodUsuario 

end
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarPadreHijo]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GuardarPadreHijo]
@Id_Permiso_padre int,
@Id_Permiso_hijo int
as
begin
insert into Permiso_Permiso (Id_Permiso_padre,Id_Permiso_hijo) values (@Id_Permiso_padre,@Id_Permiso_hijo)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarPermiso]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GuardarPermiso]
@Nombre varchar(50),
@Permiso varchar(50)
AS
BEGIN
INSERT into Permiso (Nombre,Permiso) values (@Nombre,@Permiso);  
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarPermisoUsuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GuardarPermisoUsuario]
@Codigo_usuario int,
@Id_permiso int
as
begin
insert into Usuario_Permiso(Codigo_usuario,Id_permiso) values (@Codigo_usuario,@Id_permiso)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarRemitoDevolucion]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_InsertarRemitoDevolucion]

@Nro_remito varchar(50),
@Nota_gde varchar(50),
@Codigo_autorizante int,
@Codigo_intermediario int,
@Codigo_estado int,
@Codigo_area int,
@Observaciones varchar(50),
@Tipo int
as
begin

insert into Remito(Nro_remito,Nota_gde, Codigo_autorizante,Codigo_intermediario,Codigo_estado,Codigo_area, Fecha, observaciones, Tipo)
			values(@Nro_remito, @Nota_gde, @Codigo_autorizante,@Codigo_intermediario,@Codigo_estado,@Codigo_area, SYSDATETIME(),@Observaciones,@Tipo);
			
			select Codigo from Remito where Codigo = @@IDENTITY;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_insertarRemitoExpediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_insertarRemitoExpediente]
@Codigo_expediente int,
@Codigo_remito int
as
begin
insert into Remito_expedientes (Codigo_remito,Codigo_expediente) values(@Codigo_remito,@Codigo_expediente)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_LiberarEspacio]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_LiberarEspacio]
@Codigo_caja int,
@valor int
as
begin
update Caja set Disponible = (Disponible + @valor)
where Codigo = @Codigo_caja
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Listar_areas]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Listar_areas]
as
begin
select * from Area;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Listar_autorizantes]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Listar_autorizantes]
as
begin
select Aut.Codigo,Dni,Aut.Nombre,Apellido,Aut.Codigo_dependencia,Dep.Nombre as Dependencia
from Autorizante as Aut
inner join Dependencia as Dep on
Dep.Codigo = Aut.Codigo_dependencia
end


GO
/****** Object:  StoredProcedure [dbo].[sp_Listar_dependencias]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Listar_dependencias]
as
begin
select * from Dependencia;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Listar_etiquetas]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Listar_etiquetas]
as
begin
select * from Etiqueta;
end


GO
/****** Object:  StoredProcedure [dbo].[sp_Listar_idiomas]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Listar_idiomas]
as
begin
select * from Idioma;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Listar_intermediarios]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Listar_intermediarios]
as
begin
select * from Intermediario;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Listar_traducciones]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Listar_traducciones]
as
begin
select Etiqueta.Id_etiqueta, Etiqueta.Nombre, Traduccion.Id_idioma, Traduccion from Traduccion
inner join Etiqueta on Traduccion.Id_etiqueta = Etiqueta.Id_etiqueta
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCajas]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListarCajas]
as
begin
select * from Caja
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCuerpoEstados]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListarCuerpoEstados]
as
begin
select * from Cuerpo_estado
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEstadosExpediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListarEstadosExpediente]
as
begin
select * from Expediente_estado where Codigo != 3;
end


GO
/****** Object:  StoredProcedure [dbo].[sp_ListarExpedientes]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListarExpedientes]
as
begin
select	Expediente.Codigo,Nro_expediente,Expediente.Nro_gde_electronico, Expediente_estado.Codigo as Codigo_estado,
		Expediente_estado.Estado, Area.Codigo as Codigo_area, Area.Nombre as Nombre_area,
		Cuerpo.Nro_cuerpo, Cuerpo.Hojas, Cuerpo.Fojas, Cuerpo.Observaciones, Cuerpo_estado.Codigo as Codigo_cuerpo_estado,
		Cuerpo_estado.Estado as Estado_cuerpo, Caja.Codigo as Codigo_caja, Caja.Sala,
		Expediente.Observaciones as Observaciones_expediente, Expediente.Fecha_modificado

 from Expediente
 inner join
 Expediente_estado on
 Expediente_estado.Codigo = Expediente.Codigo_estado

 inner join 
 Area on
 Area.Codigo = Expediente.Codigo_area

 inner join

 Cuerpo on
 Cuerpo.Codigo_expediente = Expediente.Codigo 

 inner join Cuerpo_estado on
 Cuerpo_estado.Codigo = Cuerpo.Codigo_estado

inner join Caja on
Caja.Codigo = Cuerpo.Codigo_caja


end


GO
/****** Object:  StoredProcedure [dbo].[sp_ListarExpedientesSinCuerpos]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_ListarExpedientesSinCuerpos]
as
begin
select	Expediente.Codigo,Nro_expediente,Expediente.Nro_gde_electronico, Expediente_estado.Codigo as Codigo_estado,
		Expediente_estado.Estado, Area.Codigo as Codigo_area, Area.Nombre as Nombre_area,
		Expediente.Observaciones as Observaciones_expediente, Expediente.Fecha_modificado

 from Expediente
 inner join
 Expediente_estado on
 Expediente_estado.Codigo = Expediente.Codigo_estado

 inner join 
 Area on
 Area.Codigo = Expediente.Codigo_area
end


GO
/****** Object:  StoredProcedure [dbo].[sp_ListarNotasGdeIngreso]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListarNotasGdeIngreso]
as 
begin
select Codigo, Nota_gde from Remito
where tipo = 1 AND (Codigo_estado = 1 OR Codigo_estado= 2)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarRemitos]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListarRemitos]
as
BEGIN
	Select Remito.Codigo, Nro_remito, Nota_gde, Autorizante.Codigo as Codigo_Autorizante,
	Autorizante.Nombre as Nombre_autorizante, Autorizante.Apellido as Apellido_autorizante,
	 Autorizante.Dni as Dni_autorizante,Dependencia.Codigo as Codigo_dependencia, Dependencia.Nombre As Nombre_dependencia, Intermediario.Codigo as Codigo_intermediario, Intermediario.Nombre as Nombre_intermediario,Intermediario.Apellido as Apellido_intermediario,
	  Intermediario.Dni as Dni_intermediario, Remito.Codigo_estado as Codigo_estado, Remito_estado.Estado, Area.Codigo As Codigo_area,
	 Area.Nombre as Nombre_area, Fecha, Observaciones, Remito.Tipo
	from Remito
	inner join Autorizante on
	Remito.Codigo_autorizante=Autorizante.Codigo
	inner join Dependencia on
	Autorizante.Codigo_dependencia = Dependencia.Codigo
	inner join Intermediario on
	Remito.Codigo_intermediario = Intermediario.Codigo
	inner join Area on
	Remito.Codigo_area = Area.Codigo
	inner join Remito_estado on
	Remito_estado.Codigo = Remito.Codigo_estado
	inner join Estado_tipoRemito on
	Estado_tipoRemito.Codigo_estado = Remito_estado.Codigo and Estado_tipoRemito.Tipo = Remito.Tipo 
end


GO
/****** Object:  StoredProcedure [dbo].[sp_ListarTodosEstadosExpediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListarTodosEstadosExpediente]
as
begin
select * from Expediente_estado
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarArea]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ModificarArea]
	@Codigo int,
	@Nombre varchar (100)
AS
BEGIN
   UPDATE Area
   SET Nombre = @Nombre
       WHERE Codigo = @Codigo
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarAutorizante]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ModificarAutorizante]
	@Codigo int,
	@Nombre varchar(50),
	@Apellido varchar(50),
	@Dni int,
	@Codigo_dependencia int
AS
BEGIN
   UPDATE Autorizante
   SET Nombre = @Nombre, Apellido = @Apellido, Dni = @Dni, Codigo_dependencia = @Codigo_dependencia
       WHERE Codigo = @Codigo
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarDependencia]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ModificarDependencia]
	@Codigo int,
	@Nombre varchar (100)
AS
BEGIN
   UPDATE Dependencia
   SET Nombre = @Nombre
       WHERE Codigo = @Codigo
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarEtiqueta]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ModificarEtiqueta]
	@Id_etiqueta int,
	@Nombre varchar (100)
AS
BEGIN
   UPDATE Etiqueta
   SET Nombre = @Nombre
       WHERE Id_etiqueta = @Id_etiqueta
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarIdioma]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ModificarIdioma]
	@Id_idioma int,
	@Nombre varchar (100),
	@Idioma_default bit
AS
BEGIN
   UPDATE Idioma
   SET Nombre = @Nombre,
		Idioma_default = @Idioma_default
       WHERE Id_idioma = @Id_idioma
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarRemito]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ModificarRemito]
	@Codigo int,
	@Codigo_estado int,
    @Nro_remito varchar(50),
	@Codigo_area int,
    @Fecha datetime,
    @Codigo_autorizante int,
    @Nota_gde varchar(50),
    @Codigo_intermediario int,
    @Observaciones varchar(50),
    @Tipo int
AS
BEGIN
   UPDATE Remito
   SET Codigo_estado = @Codigo_estado, Nro_remito = @Nro_remito, Codigo_area = @Codigo_area,
		Fecha = @Fecha, Codigo_autorizante = @Codigo_autorizante, Nota_gde = @Nota_gde, Codigo_intermediario = @Codigo_intermediario,
		Observaciones = @Observaciones, Tipo = @Tipo
       WHERE Codigo = @Codigo
end



GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarTraduccion]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ModificarTraduccion]
	@Id_etiqueta int,
	@Id_idioma int,
	@Texto varchar(100)
AS
BEGIN
   UPDATE Traduccion
   SET Traduccion = @Texto
   WHERE Id_etiqueta = @Id_etiqueta and Id_idioma= @Id_idioma
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarUsuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ModificarUsuario]
@Codigo int,
@Nombre varchar(50),
@Apellido varchar(50),
@Dni int,
@Nombre_usuario varchar(50),
@Contrasenia varchar(50),
@Email varchar(50),
@Id_idioma int
AS
BEGIN
   UPDATE Usuario
   SET Nombre = @Nombre, Apellido = @Apellido, Dni = @Dni, Nombre_usuario = @Nombre_usuario, Contrasenia = @Contrasenia,
   Email = @Email, Id_idioma = @Id_idioma
       WHERE Codigo = @Codigo
end

GO
/****** Object:  StoredProcedure [dbo].[sp_MoverASala2]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_MoverASala2]
@Codigo_caja int,
@Codigo_expediente int
as
begin
update Cuerpo set Codigo_caja= @Codigo_caja
where Codigo_expediente = @Codigo_expediente
end
GO
/****** Object:  StoredProcedure [dbo].[sp_obtenerCuerposPorCaja]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_obtenerCuerposPorCaja]
@Codigo_caja int
as
begin
select Cuerpo.Codigo, Cuerpo.Codigo_expediente, Cuerpo.Nro_cuerpo, Cuerpo.Hojas, Cuerpo.Fojas, 
Cuerpo.Codigo_caja, Cuerpo.Observaciones
from Cuerpo
inner join Caja on
Caja.Codigo = Cuerpo.Codigo_caja
where Caja.Codigo =  @Codigo_caja
end

GO
/****** Object:  StoredProcedure [dbo].[sp_QuitarEspacioSala2]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_QuitarEspacioSala2]
@Codigo_sala int,
@valor int
as
begin
update Caja set Disponible = (Disponible - @valor)
where Codigo = @Codigo_sala
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RecuperarAutorizanteDeAuditoria]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_RecuperarAutorizanteDeAuditoria]
@Codigo_autorizante int
as
begin
select Auditoria_autorizante.Codigo,Codigo_autorizante,Auditoria_autorizante.Dni,Auditoria_autorizante.Nombre,Auditoria_autorizante.Apellido, Dependencia.Codigo as Codigo_dependencia,
Dependencia.Nombre as Nombre_dependencia,Codigo_operacion,Codigo_usuario,Nombre_usuario, Fecha_operacion
 from Auditoria_autorizante 
inner join Dependencia on
Dependencia.Codigo = Auditoria_autorizante.Codigo_dependencia
inner join Usuario on
Usuario.Codigo= Auditoria_autorizante.Codigo_usuario
inner join Autorizante on
Autorizante.Codigo = Auditoria_autorizante.Codigo_autorizante
where Codigo_autorizante = @Codigo_autorizante
end

GO
/****** Object:  StoredProcedure [dbo].[sp_RecuperarExpedienteDeAuditoria]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_RecuperarExpedienteDeAuditoria]
@Nro_expediente varchar(50)
as
begin
select Auditoria_expediente.Codigo,Auditoria_expediente.Codigo_expediente, Auditoria_expediente.Nro_expediente,Auditoria_expediente.Nro_gde_electronico,Auditoria_expediente.Codigo_estado,Estado,Auditoria_expediente.Codigo_area, Area.Nombre as Nombre_area,
Auditoria_expediente.Observaciones,Auditoria_expediente.Fecha_modificado,Codigo_operacion,Codigo_usuario,Nombre_usuario, Fecha_operacion
 from Auditoria_expediente 
inner join Expediente_estado on
Auditoria_expediente.Codigo_estado = Expediente_estado.Codigo
inner join Area on
Area.Codigo = Auditoria_expediente.Codigo_area
inner join Usuario on
Usuario.Codigo= Auditoria_expediente.Codigo_usuario
inner join Expediente on
Expediente.Nro_expediente = Auditoria_expediente.Nro_expediente
where Auditoria_expediente.Nro_expediente = @Nro_expediente
end

GO
/****** Object:  StoredProcedure [dbo].[sp_todasLasFamilias]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_todasLasFamilias]
as
begin
select * from Permiso where Permiso is null
end

GO
/****** Object:  StoredProcedure [dbo].[sp_todasLasPatentes]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_todasLasPatentes]
as
begin
select * from Permiso where Permiso is not null
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TodosLosUsuarios]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TodosLosUsuarios]
as
begin
select Codigo, Usuario.Nombre, Apellido, Dni, Nombre_usuario, Email, Contrasenia, Idioma.Id_idioma, Idioma.Nombre as Nombre_idioma, Activo
 from Usuario
 inner join Idioma on Usuario.Id_idioma = Idioma.Id_idioma
 where Activo = 'true';
end


GO
/****** Object:  StoredProcedure [dbo].[sp_TodosLosUsuariosActivosyNoActivos]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TodosLosUsuariosActivosyNoActivos]
as
begin
select Codigo, Usuario.Nombre, Apellido, Dni, Nombre_usuario, Email, Contrasenia, Idioma.Id_idioma, Idioma.Nombre as Nombre_idioma, Activo, Dvh
 from Usuario
 inner join Idioma on Usuario.Id_idioma = Idioma.Id_idioma
end


GO
/****** Object:  StoredProcedure [dbo].[sp_Traducciones]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Traducciones]
@Id_idioma int
as
begin
select t.Id_idioma,t.Traduccion as Traduccion_Traduccion, e.Id_etiqueta, e.Nombre as Nombre_etiqueta from Traduccion t inner join Etiqueta e on t.Id_etiqueta=e.Id_etiqueta where t.Id_idioma = @Id_idioma
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerCodUltimoAutorizante]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerCodUltimoAutorizante]
as
begin
SELECT top 1 Codigo FROM Autorizante
Order by Codigo desc
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerCuerposExp]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TraerCuerposExp]
@Codigo_exp int
as
begin
select Cuerpo.Codigo, Cuerpo.Nro_cuerpo, Cuerpo.Fojas, Cuerpo.Hojas,
 Cuerpo.Codigo_estado, Cuerpo_estado.Estado, Cuerpo.Codigo_caja, Caja.Sala, Caja.Capacidad, Caja.Disponible, Observaciones
from Cuerpo
inner join
Cuerpo_estado on
Cuerpo.Codigo_estado = Cuerpo_estado.Codigo
inner join Caja on
Caja.Codigo = Cuerpo.Codigo_caja

where Codigo_expediente = @Codigo_exp

end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerDatosEstado]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TraerDatosEstado]
@Estado varchar(50),
@TipoRemito int
as
begin
select Codigo, Estado from Remito_estado
inner join Estado_tipoRemito on
Estado_tipoRemito.Codigo_estado = Remito_estado.Codigo
where Estado_tipoRemito.Tipo = @TipoRemito AND Remito_estado.Estado = @Estado;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerDatosRemitoPorNOTAGDE]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TraerDatosRemitoPorNOTAGDE]
@NotaGde varchar(50)
as
begin
select Remito.Codigo,Remito.Nro_remito, Remito.Nota_gde, Autorizante.Codigo as Codigo_Autorizante,
		Autorizante.Nombre as Nombre_autorizante, Autorizante.Apellido as Apellido_autorizante,
		Autorizante.Dni as Dni_autorizante, Dependencia.Codigo as Codigo_dependencia, 
		Dependencia.Nombre As Nombre_dependencia, Intermediario.Codigo as Codigo_intermediario, 
		Intermediario.Nombre as Nombre_intermediario,Intermediario.Apellido as Apellido_intermediario,
		Intermediario.Dni as Dni_intermediario, Remito.Codigo_estado as Codigo_estado, Remito_estado.Estado, Area.Codigo As Codigo_area,
		Area.Nombre as Nombre_area, Fecha, 
		Remito.Observaciones, Tipo

from Remito

		inner join Autorizante on
		Remito.Codigo_autorizante=Autorizante.Codigo
		inner join Dependencia on
		Autorizante.Codigo_dependencia = Dependencia.Codigo
		inner join Intermediario on
		Remito.Codigo_intermediario = Intermediario.Codigo
		
		inner join Area on
		Remito.Codigo_area = Area.Codigo

		inner join Remito_estado on
		Remito_estado.Codigo = Remito.Codigo_estado

where Tipo = 1 and Nota_gde = @NotaGde
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerDisponibilidadCaja]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerDisponibilidadCaja]
@Codigo_caja int
as
begin
select Disponible from Caja
where Codigo = @Codigo_caja
end
GO
/****** Object:  StoredProcedure [dbo].[sp_traerEstadosDevolucion]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_traerEstadosDevolucion]
as
begin
select Remito_estado.Codigo, Remito_estado.Estado from Remito_estado
inner join Estado_tipoRemito on
Remito_estado.Codigo = Estado_tipoRemito.Codigo_estado
where Estado_tipoRemito.Tipo= 3
end

GO
/****** Object:  StoredProcedure [dbo].[sp_traerEstadosEgreso]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_traerEstadosEgreso]
as
begin
select Remito_estado.Codigo, Remito_estado.Estado from Remito_estado
inner join Estado_tipoRemito on
Remito_estado.Codigo = Estado_tipoRemito.Codigo_estado
where Estado_tipoRemito.Tipo= 2

end

GO
/****** Object:  StoredProcedure [dbo].[sp_traerEstadosIngreso]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_traerEstadosIngreso]
as
begin
select Remito_estado.Codigo, Remito_estado.Estado from Remito_estado
inner join Estado_tipoRemito on
Remito_estado.Codigo = Estado_tipoRemito.Codigo_estado
where Estado_tipoRemito.Tipo= 1 
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerExpediente]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerExpediente]
@NroDocumento varchar(50)
AS
BEGIN
select Expediente.Codigo, Nro_expediente, Nro_gde_electronico, Codigo_estado, Estado, Codigo_area, Nombre, Observaciones, Fecha_modificado
from Expediente
inner join Expediente_estado on
Expediente.Codigo_estado = Expediente_estado.Codigo
inner join Area on
Expediente.Codigo_area = Area.Codigo
where Nro_expediente= @NroDocumento;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerExpedientePorNroExp]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerExpedientePorNroExp]
@Nro_expediente varchar(50)
as
BEGIN
	select Codigo from Expediente
	where Nro_expediente = @Nro_expediente
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerExpedientePorRemitoDev]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerExpedientePorRemitoDev]
@Codigo_remito int
as
begin
select	Remito_expedientes.Codigo_expediente, Expediente.Nro_expediente, Expediente.Nro_gde_electronico, 
		Expediente_estado.Codigo as Codigo_estado, Expediente_estado.Estado as Estado,
		Area.Codigo as Codigo_area, Area.Nombre as Nombre_area,
		Expediente.Observaciones, Expediente.Fecha_modificado
  
  from Remito_expedientes
  
  inner join Expediente on
  Expediente.Codigo = Remito_expedientes.Codigo_expediente
  inner join Expediente_estado on
  Expediente_estado.Codigo = Expediente.Codigo_estado
  inner join Area on
  Area.Codigo = Expediente.Codigo_area

  where Remito_expedientes.Codigo_Remito = @Codigo_remito

end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerExpedientesPorCodigoRemito]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerExpedientesPorCodigoRemito]
@Codigo_remito int
as
begin
select Remito_expedientes.Codigo_expediente, Nro_expediente, Nro_gde_electronico, Expediente_estado.Codigo as Codigo_estado,
Expediente_estado.Estado as Estado, Area.Codigo as Codigo_area, Area.Nombre as Nombre_area, Expediente.Observaciones, Expediente.Fecha_modificado
from Remito_expedientes

inner join Expediente on
Expediente.Codigo = Remito_expedientes.Codigo_expediente
inner join Expediente_estado on
Expediente_estado.Codigo = Expediente.Codigo_estado
inner join Area on
Area.Codigo = Expediente.Codigo_area

where Remito_expedientes.Codigo_remito = @Codigo_remito



end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerIdiomas]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerIdiomas]
as
begin
select * from Idioma;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerNumerosComdocRemito]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TraerNumerosComdocRemito]
@Codigo_remito int
as
begin
select Nro_comdoc from Remito_nros_comdoc
where Codigo_remito = @Codigo_remito
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerPermisosUsuario]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerPermisosUsuario]
@Id int
as
begin
select P.* from Usuario_Permiso UP inner join Permiso P on UP.Id_permiso=P.Id where Codigo_usuario=@Id;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerRemitoAsociado]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TraerRemitoAsociado]
@Codigo_expediente int
as
BEGIN

select	Remito_expedientes.Codigo_remito, Remito.Nro_remito, Remito.Nota_gde, Autorizante.Codigo as Codigo_Autorizante,
		Autorizante.Nombre as Nombre_autorizante, Autorizante.Apellido as Apellido_autorizante,
		Autorizante.Dni as Dni_autorizante, Dependencia.Codigo as Codigo_dependencia, Dependencia.Nombre As Nombre_dependencia, Intermediario.Codigo as Codigo_intermediario, Intermediario.Nombre as Nombre_intermediario,Intermediario.Apellido as Apellido_intermediario,
		Intermediario.Dni as Dni_intermediario, Remito.Codigo_estado as Codigo_estado, Remito_estado.Estado, Area.Codigo As Codigo_area,
		Area.Nombre as Nombre_area, Fecha, Remito.Observaciones, Remito.Tipo
		
		from Remito_expedientes 
		
		inner join Remito on 
		Remito_expedientes.Codigo_remito = Remito.Codigo
		inner join Expediente on
		Remito_expedientes.Codigo_expediente = Expediente.Codigo

		inner join Autorizante on
		Remito.Codigo_autorizante=Autorizante.Codigo
		inner join Dependencia on
		Autorizante.Codigo_dependencia = Dependencia.Codigo
		inner join Intermediario on
		Remito.Codigo_intermediario = Intermediario.Codigo
		inner join Area on
		Remito.Codigo_area = Area.Codigo
		inner join Remito_estado on
		Remito.Codigo_estado = Remito_estado.Codigo
		inner join Estado_tipoRemito on
		Estado_tipoRemito.Codigo_estado = Remito_estado.Codigo and Estado_tipoRemito.Tipo = Remito.Tipo

where Codigo_expediente = @Codigo_expediente

end

GO
/****** Object:  StoredProcedure [dbo].[sp_TraerTodo]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TraerTodo]
@familia varchar(100)
AS
BEGIN
DECLARE @query varchar(max) = '
						with recursivo as (
							select sp2.Id_Permiso_padre, 
							sp2.Id_Permiso_hijo 
						from Permiso_Permiso SP2
                        where sp2.Id_Permiso_padre ' + @familia + '
                        UNION ALL 
                        select sp.Id_Permiso_padre, sp.Id_Permiso_hijo from Permiso_Permiso sp 
                        inner join recursivo r on r.Id_Permiso_hijo= sp.Id_Permiso_padre
                        )
                        select r.Id_Permiso_padre,r.Id_Permiso_hijo,p.Id,p.Nombre, p.Permiso
                        from recursivo r 
                        inner join Permiso p on r.Id_Permiso_hijo = p.Id';

exec(@query)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_traerUltimoID]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_traerUltimoID]
as
BEGIN
-- ESTO ESTA MAL
SELECT Id FROM Permiso WHERE Id = @@Identity;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarEstadoSala2]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_VerificarEstadoSala2]
as
begin 
select Codigo, Estado from Expediente_estado where Estado in ('IngresoARevisar', 'Devolucion', 'PorRetirar')
end

GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarNombreUsu]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_VerificarNombreUsu]
@Nombre_usuario varchar (50)
as
BEGIN
	select * from Usuario 
	where Nombre_usuario = @Nombre_usuario
end       


GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarNotaGDE]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_VerificarNotaGDE]
@Nota_gde varchar(50)
as
BEGIN
	select Nota_gde from Remito
	where Nota_gde = @Nota_gde
end

GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarNroExpElectronico]    Script Date: 06/12/2020 19:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_VerificarNroExpElectronico]
@Nro_exp_electronico varchar(50)
as
begin
select Nro_gde_electronico from Expediente
where Nro_gde_electronico = @Nro_exp_electronico

end

GO
