<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexion" connectionString="Data Source=DESKTOP-7Q1471A;Initial Catalog=Inventario_para_Archivo2;Integrated Security=True"/>
    <add name="restore" connectionString="Data Source=DESKTOP-7Q1471A;Initial Catalog=master;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>